{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
        "s3:GetObject",
        "s3:PutObject"
      ],
      "Resource": [
        "arn:aws:s3:::{{ minio_bucket }}/{{ minio_app_object_prefix }}/*"
      ]
    }
  ]
}
