roles/*
!roles/app_deploy
!roles/app_deploy/**
!roles/database
!roles/database/**
!roles/server_provision
!roles/server_provision/**
!roles/infrastructure_reset
!roles/infrastructure_reset/**
!roles/object_storage
!roles/object_storage/**
!roles/database_migrations
!roles/database_migrations/**
!roles/storage_smoke_test
!roles/storage_smoke_test/**
collections/
inventory.ini
inventory.generated.ini
.vault-password
.generated/
