[defaults]
inventory = generated.inventory.ini
roles_path = roles
vault_password_file = .vault-password

[ssh_connection]
ssh_common_args = -o UserKnownHostsFile=generated.known_hosts -o StrictHostKeyChecking=yes
