[defaults]
roles_path = roles:roles/application:roles/common:roles/database:roles/object_storage:roles/vendor
vault_password_file = .vault-password

[ssh_connection]
ssh_common_args = -o UserKnownHostsFile=environments/_shared/runtime/known_hosts -o StrictHostKeyChecking=yes
