{% set target_groups = vault_inventory.deploy_targets | map(attribute='group') | unique | list %}
{% for target_group in target_groups %}
[{{ target_group }}]
{% for target in vault_inventory.deploy_targets | selectattr('group', 'equalto', target_group) %}
{{ target.name }} ansible_host={{ target.address }}
{% endfor %}
{% endfor %}

[infrastructure:children]
application
database
object_storage

[infrastructure:vars]
vault_inventory={{ {
  'provision_user': vault_inventory.provision_user,
  'deploy_user': vault_inventory.deploy_user,
  'deploy_authorized_key': vault_inventory.deploy_authorized_key,
  'ssh_port': vault_inventory.ssh_port
} | to_json }}
ansible_port={{ vault_inventory.ssh_port | to_json }}
ansible_python_interpreter=/usr/bin/python3

[database]
{{ vault_inventory.database_target.name }} ansible_host={{ vault_inventory.database_target.address }}

[object_storage]
{{ vault_inventory.database_target.name }} ansible_host={{ vault_inventory.database_target.address }}

[application:children]
{% for target_group in target_groups %}
{{ target_group }}
{% endfor %}
