events {
}

http {
    server {
        listen {{ nginx_listen_port }};
        listen [::]:{{ nginx_listen_port }};

        server_name {{ nginx_server_name }};

        default_type text/plain;

        location / {
            proxy_pass {{ nginx_app_upstream }};
        }
    }
}
